<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>com.botcha.apis.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getchannels</servlet-name>
        <servlet-class>com.botcha.apis.GetChannelsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getchannels</servlet-name>
        <url-pattern>/getchannels</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registerchannel</servlet-name>
        <servlet-class>com.botcha.apis.RegisterChannelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerchannel</servlet-name>
        <url-pattern>/registerchannel</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>webhook</servlet-name>
        <servlet-class>com.botcha.apis.WebhookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>webhook</servlet-name>
        <url-pattern>/webhook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createchannel</servlet-name>
        <servlet-class>com.botcha.apis.CreateChannelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createchannel</servlet-name>
        <url-pattern>/createchannel</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sendmessage</servlet-name>
        <servlet-class>com.botcha.apis.SendMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sendmessage</servlet-name>
        <url-pattern>/sendmessage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>broadcastmessage</servlet-name>
        <servlet-class>com.botcha.apis.BroadcastMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>broadcastmessage</servlet-name>
        <url-pattern>/broadcastmessage</url-pattern>
    </servlet-mapping>
</web-app>
